<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span style="color: rgba(255, 255, 255, 0.55); cursor: pointer"
      >&copy; M'ADAMME Inc.
      <a
        href="https://www.heroku.com/"
        style="
          font-size: 11px;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.55);
          font-style: italic;
        "
        >Sponsored by Heroku</a
      ></span
    >
  </div>
</footer>
